body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-bg{
  background-image: url('./assets/nav_bar.png');
  
}

.search-d-animation{
  animation: expand .4s ease-in forwards;
}

@keyframes expand {
  0%{
     transform: scaleX(0);
     transform-origin: right;
  }
  100%{
    transform: scaleX(1);
    transform-origin: right;
  }
  
}
